/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #45badd;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./robot.gif');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

.joke-text {
  background-color: whitesmoke;
  padding: 15px 10px;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  box-shadow: 1px 3px 12px 1px #585656;
}

.joke-text p {
  width: 400px !important;
  display: inline-block !important;
  text-align: justify;
  word-wrap: break-word;
}

.joke-text span {
  bottom: -13px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid whitesmoke;
  position: absolute;
}

.typed-cursor--blink {
  display: none !important;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .container {
    background-position: center center;
    background-size: cover;
  }

  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 600px) {
  .joke-text p {
    width: 250px !important;
  }
}