@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(37, 37, 37);
}

.button-container {
  border: 2px solid black;
  padding: 10px;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px #ffffffb3;
}

button {
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-family: Barlow, sans-serif;
  font-size: 25px;
  color: white;
  text-shadow: 0 2px 5px black;
  background: linear-gradient(to top, #696969, #575757);
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px #ffffff66, 0 12px 12px 0 #0000004d;
}

button:hover {
  background: linear-gradient(to bottom, #696969, #575757);
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 6px 6px 0 #0000004d;
}
