/* Images created by: https://unsplash.com/@pawel_czerwinski */

@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");

:root {
  --primary-color: #858585;
  --body-bg-color: #c9ced3;
  --progress-bg-color: #fff;
  --progress-color: #242323;
  --icon-color: #818181;
  --box-shadow:#00000080;
  --text: #161616;
  --brightness: 90%;
}

[data-theme="dark"] {
  --primary-color: #f31b1b;
  --body-bg-color: #353535;
  --progress-bg-color: #00000080;
  --progress-color: #d1d1d1;  
  --icon-color: #e5e4e4;
  --box-shadow: #ffffff20;
  --text: #e3e3e3;
  --brightness: 110%;
}

html , * {
  box-sizing: border-box;
  font-family: Spartan, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--body-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.player-container {
  position: relative;
  height: 500px;
  width: 400px;
  background: var(--body-bg-color);
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px var(--box-shadow);
}

.img-container {
  width: 100%;
  height: 300px;
  position: relative;
  top: -50px;
  display: flex;
  justify-content: center;
}

.img-container img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px var(--box-shadow);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: var(--progress-bg-color);
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: var(--progress-color);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

.play-controls-container{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.mt-1{
  margin-top: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mr-1 {
  margin-right: 8px;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none !important;
}

.p-1 {
  padding: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.border-b-1 {
  border-bottom: 1px solid var(--progress-color);
}

.max-w-90 {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}
/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-content: center;
  place-items: center;
}

.fas {
  font-size: 30px;
  color: var(--icon-color);
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(80%);
}

.fa-backward, .fa-forward{
  margin-top: 8px;
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

.playlist-container{
  position: absolute;
  top: 185px;
  right: -25px;
  box-shadow: 0 15px 30px 5px var(--box-shadow);
  background: var(--body-bg-color);
  border-radius: 12px; 
  padding: 5px;
}

.playlist-container .music {
  display: flex;
  width: 300px;
  background: var(--body-bg-color);
  align-items: center;
  cursor: pointer;
}

.playlist-container .music:hover { 
  filter: brightness(var(--brightness))
}

.playlist-container .music img{
  width: 45px !important;
  min-width: 45px;
  max-width: 45px;
  height: 45px;
  max-height: 45px;
  min-height: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.playlist-container .title{
  margin: 0px;
  font-size: 12px;
  font-weight: 900;
  color: var(--text);
}

.playlist-container .author{
  margin: 0px;
  font-size: 8px;
  font-weight: 400;
  color: var(--text);
}

.active {
  filter: brightness(var(--brightness));
}

h2, h3, span{
  color: var(--text) !important;
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 30px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #858585;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

#toggle-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 410px) {
  .img-container{
    height: 230px;
  }

  .img-container img {
    width: 230px;
  }

  .player-container {
    height: 400px;
    width: 330px;
  }

  .player-controls {
    top: -25px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 356px) {
  .player-container {
    width: 96vw;
  }

  .img-container{
    height: 220px;
    top: -35px;
  }

  .img-container img {
    width: 230px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }
}

 /* Music Wave */
 body .sound-wave {
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .bar {
  animation-name: wave-lg;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  background: var(--text);
  margin: 0 2px;
  height: 10px;
  width: 4px;
}
body .bar:nth-child(-n+7), body .bar:nth-last-child(-n+7) {
  animation-name: wave-md;
}
body .bar:nth-child(-n+3), body .bar:nth-last-child(-n+3) {
  animation-name: wave-sm;
}

@keyframes wave-sm {
  0% {
    opacity: 0.35;
    height: 10px;
    border-radius: 4px;
  }
  100% {
    opacity: 1;
    height: 20px;
    border-radius: 4px;
  }
}
@keyframes wave-md {
  0% {
    opacity: 0.35;
    height: 15px;
    border-radius: 4px;
  }
  100% {
    opacity: 1;
    height: 30px;
    border-radius: 4px;
  }
}
@keyframes wave-lg {
  0% {
    opacity: 0.35;
    height: 15px;
    border-radius: 4px;
  }
  100% {
    opacity: 1;
    height: 40px;
    border-radius: 4px;
  }
}